<nav>
  <ul>
    <li><%= link_to "Developer", developers_path %></li>
    <li><%= link_to "Programming Language", programming_languages_path %></li>
    <li><%= link_to "Interview", interviews_path %></li>
  </ul>
</nav>